@using MetadataComposite.Areas.Metadata.Models
@model AgentPartModel


@this.Model.Part.DescriptiveName
(<a href="@this.Url.Action("ViewPartCollection", "Agents", new { agentSystemName = this.Model.AgentSystemName, descriptiveName = this.Model.Part.DescriptiveName })">html</a> |
<a href="@this.Url.Action("ViewPartCollection", "Agents", new { agentSystemName = this.Model.AgentSystemName, descriptiveName = this.Model.Part.DescriptiveName, format = "xml" })">xml</a> |
<a href="@this.Url.Action("ViewPartCollection", "Agents", new { agentSystemName = this.Model.AgentSystemName, descriptiveName = this.Model.Part.DescriptiveName, format = "json" })">json</a>)
<ul>
	@foreach (var p in this.Model.Part.Collection)
	{
		<li id="@this.Model.AgentSystemName-@this.Model.Part.CollectionType.Name.ToLower()">
			@p.Namespace.@p.Name
			(<a href="@this.Url.Action(this.Model.NextAction, "Agents", new { agentSystemName = this.Model.AgentSystemName, partName = p.Name })">html</a> |
			<a href="@this.Url.Action(this.Model.NextAction, "Agents", new { agentSystemName = this.Model.AgentSystemName, partName = p.Name, format = "xml" })">xml</a> |
			<a href="@this.Url.Action(this.Model.NextAction, "Agents", new { agentSystemName = this.Model.AgentSystemName, partName = p.Name, format = "json" })">json</a>)

		</li>
	}
</ul>