<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-ca">
	<head>
		<title>@ViewBag.Title</title>
		<link rel="stylesheet" type="text/css" href="/Content/themes/swiss/style.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/Content/themes/swiss/custom.css" media="screen" />
		<link rel="shortcut icon" href="/Content/themes/swiss/favicon.png" type="image/x-icon" />
		<link rel="stylesheet" href="http://jqueryui.com/themes/base/jquery.ui.all.css"/>
		<script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"> </script>
		<script src="http://jqueryui.com/ui/jquery.ui.core.js" type="text/javascript"></script>
		<script src="http://jqueryui.com/ui/jquery.ui.widget.js" type="text/javascript"></script>
		<script src="http://jqueryui.com/ui/jquery.ui.tabs.js" type="text/javascript"></script>


	</head>
	<body id="vanilla_discussions_index" class="Vanilla Discussions index ">
		<div id="wrapper">
			<div id="Head">
				<div id="logo" class="sidebar-block">
					<a href="/"><img src="../../Content/themes/swiss/images/logo.gif" alt="" /></a>
				</div>
				<div id="menu" class="sidebar-block">
					@RenderPage("LeftMenu.cshtml")
				</div>
				<div id="search" class="sidebar-block">
					@RenderPage("Search.cshtml")
				</div>
				<div id="categories" class="sidebar-block">
					<!--
						<div class="Box GuestBox">
							<h4>Howdy, Stranger!</h4>
							<p>It looks like you're new here. If you want to get involved, click one of these
								buttons!</p>					
							<p>
								<a href="#" class="Button SignInPopup">Sign In</a>
								<a href="#" class="Button ApplyButton">Apply for Membership</a> 
							</p>
						</div>
						-->
					<div class="Box BoxCategories">
						@RenderPage("Categories.cshtml")
					</div>
				</div>
			</div>
			<div id="Body">
				<div id="Content">
					@RenderPage("TopMenu.cshtml")
					@RenderBody()
					<div id="Copyright">Powered by Euclid</div>
				</div>
			</div>
		</div>
	</body>
</html>