<h4><a href="#/all">Categories</a></h4>
<ul class="PanelInfo PanelCategories">
	<li class="Active"><span><strong>@Html.ActionLink("All Discussions", "List", "Post")</strong><span class="Count">@ViewBag.TotalPosts</span></span></li>
	@foreach (var category in ViewBag.Categories)
	{
	<li class="Depth1"><strong>@Html.ActionLink((string)@category.Name, "ByCategory", "Post", new { forumSlug = ViewBag.ForumSlug, orgSlug = ViewBag.OrganizationSlug, categorySlug = @category.Slug }, new object())</strong><span class="Count">@category.TotalPosts</span></li>
	}
</ul>