<div class="sidebar">
	<div class="well">
		@RenderPage("~/Views/Shared/SideBar/Badge.cshtml")       
	</div>
		<div class="well">
			@RenderPage("~/Views/Shared/SideBar/NewPost.cshtml")       
		</div>
	<div class="well">
		@RenderPage("~/Views/Shared/SideBar/Categories.cshtml")       
		<hr/>
		@RenderPage("~/Views/Shared/SideBar/TopUsers.cshtml")       
		<hr/>
		@RenderPage("~/Views/Shared/SideBar/Tags.cshtml")       
	</div>
</div>