@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@using JsonCompositeInspector.Models;
@{
	Layout = "Shared/_Layout.cshtml";
	LogModel model = (LogModel)@Model;
}

@section page_title {
	Composite Logs
}

<script type="text/javascript">
	$(document).ready(function () {
		$("#exception").dialog({ autoOpen: false, modal: true, title: "Exception" });
		$(".exception").click(function () {
			var msg = $(this).attr("message");
			$("#exception-text").html(msg);
			$("#exception").dialog('open');
		});
	});
</script>

<div class="row" style="margin-top: 7px;">

	<div class="span16 columns">
		<ul class="pills" style="margin-bottom: 5px;">
			@{ var css = string.IsNullOrEmpty(model.SelectedSource) ? "active" : string.Empty; }
			<li class="@css"><a href="/composite/logs">All</a> </li>
			@foreach (var source in model.AvailableSources)
			{
				css = (source == model.SelectedSource) ? "active" : string.Empty;
				<li class="@css"><a href="/composite/logs?filterBy=@source">@source</a></li>
			}
		</ul>
	</div>

</div>

<table class="zebra-striped" style="margin-top: 0px">
	<thead>
		<tr>
			<th>Created</th>
			<th>Level</th>
			<th>Message</th>
			<th>Source</th>
			<th>Exception</th>
		</tr>
	</thead>
	@foreach (var m in model.Entries)
	{
		<tr>
			<td style="width: 125px;">@m.Created</td>
			<td>@m.Level</td>
			<td>@m.Message</td>
			<td>@m.LoggingSource</td>
			<td>
				@if (!string.IsNullOrEmpty(m.Exception))
				{
					<a href="#" message="@m.Exception" class="exception">Show</a>
				}
			</td>
		</tr>
	}
</table>

<div id="exception" style="display: none">
	<p id="exception-text"></p>
</div>
