<h3>Categories</h3>
<ul>
	<li><a href="@Url.Action("Category")">Category</a> (10)</li>
	<li><a href="@Url.Action("Category")">Another Category</a> (10)</li>
	<li><a href="@Url.Action("Category")">Creative Category</a> (10)</li>
	<li><a href="@Url.Action("Category")">Unmoderated Forum</a> (10)</li>
	<li><a href="@Url.Action("Category")">Placeholder Category</a> (10)</li>
	<li><a href="@Url.Action("Category")">Example Category</a> (10)</li>
</ul>
<p><a href="@Url.Action("Categories")">View all categories</a>.</p>