<script id="template-companyAllTransactions" type="text/x-handlebars-template">
	<h3>{{companyName}} Transactions</h3>

	<table class="table table-striped">
		<thead>
			<tr>
				{{#each tableHeaders}}
				<th>{{this}}</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>

			{{#each tableData}}
			<tr>
				<td>{{this.id}}...</td>
				<td>{{this.dateTime}}</td>
				<td>{{this.type}} at {{this.storeName}}</td>
				<td>{{this.amount}}</td>
				<td>(buttons)</td>
			</tr>
			{{/each}}

		</tbody>
	</table>
</script>