<script id="template-companyAllTransactions" type="text/x-handlebars-template">
	<h3>{{companyName}} Transactions</h3>

	<table class="table table-striped">
		<thead>
			<tr>
				{{#each tableHeaders}}
				<th>{{this}}</th>
				{{/each}}
			</tr>
		</thead>
		<tbody>

			{{#each tableData}}
			<tr>
				<td>{{this.id}}...</td>
				<td>{{this.state}}</td>
				<td>{{this.dateTime}}</td>
				<td>{{this.type}} at {{this.storeName}}</td>
				<td>{{this.amount}}</td>
				<td>
					<div class="btn-group">
						<a class="btn small" href="#">Action</a>
						<a class="btn small dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a>View Details</a>
							</li>
							<li>
								<a>Freeze</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
			{{/each}}

		</tbody>
	</table>
</script>