@{
	var controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
	var action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
}
<ul>
	<li @if (controller == "Dashboard"){<text>class="current"</text>}>
		<a href="@Url.Action("Index", "Dashboard")" title="Home" class="dashboard no-submenu">Dashboard</a>
	</li>

	<li @if (controller == "Organization"){<text>class="current"</text>}>
		<a href="@Url.Action("Index", "Organization")" title="Home" class="dashboard no-submenu">Organization</a>
	</li>

	<li @if (controller == "Forum"){<text>class="current"</text>}>
		<a title="Forums" class="articles" id="forum-nav-item">Forums</a>
		<ul>
			<li @if (action == "List" && controller == "Forum"){<text>class="current"</text>}>@Html.ActionLink("Manage", "List", "Forum")</li>
			<li @if (action == "ForumSettings" && controller == "Forum"){<text>class="current"</text>}>@Html.ActionLink("View Settings", "ForumSettings", "Forum")</li>
			<li @if (action == "Authentication" && controller == "AuthenticationProviders"){<text>class="current"</text>}>@Html.ActionLink("Authentication Providers", "AuthenticationProviders", "Forum")</li>
		</ul>
	</li>

	<li @if (controller == "User") { <text>class="current"</text>}>
		<a title="Users" class="users" id="users-nav-item">Users</a>
		<ul>
			<li @if (action == "List" && controller == "User"){<text>class="current"</text>}>@Html.ActionLink("Manage", "List", "User")</li>
			<li @if (action == "Invite"){<text>class="current"</text>}>@Html.ActionLink("Invite", "Invite", "User")</li>
		</ul>
	</li>

	<li @if (controller == "Badges"){<text>class="current"</text>}><a href="@Url.Action("List", "Badge")" class="events no-submenu">Badges</a></li>

	<li @if (controller == "Moderation"){<text>class="current"</text>}><a href="@Url.Action("Posts", "Moderation")" title="Moderation" class="gallery no-submenu">Moderation</a></li>
</ul>