@using AdminComposite.Extensions
@using ForumAgent.ReadModels
<script type="text/javascript">
	$(document).ready(function() {
		$(".expand").show();

		$(".expand").children().each(function(index, item) {
			$(item).show();
		});
	});
</script>
<ul>
	<li @Html.GetClassWhenControllerIsCurrent("dashboard", "current")><a href="@Url.Action("Index", "Dashboard")" title="Home" class="dashboard no-submenu">
																																			Dashboard</a> </li>
	<li @Html.GetClassWhenControllerIsCurrent("organization", "current")><a title="Home" class="dashboard">Organization</a>
		<ul class="expand">
			<li @Html.GetClassWhenControllerAndActionAreCurrent("organization", "details", "current")>
				<a href="@Url.Action("Details", "Organization", new { organizationId = ViewBag.OrganizationId })">
					Details</a> </li>
			<li @Html.GetClassWhenControllerAndActionAreCurrent("organization", "users", "current")>
				<a href="@Url.Action("Users", "Organization", new { organizationId = ViewBag.OrganizationId })">
					Users</a> </li>
		</ul>
	</li>
	<li @Html.GetClassWhenControllerAndActionAreCurrent("forum", "create", "current")><a href="@Url.Action("Create", "Forum")" class="new-forum no-submenu">
																																											Add Forum</a> </li>
	@{
		IList<Forum> forums = ViewBag.Forums;
		string selectedForumId = ViewBag.CurrentForumId;

		foreach (var forum in forums)
		{
			var forumId = forum.Identifier;
			var isCurrentForum = (forumId.ToString() == selectedForumId);
			var moderatingPosts = isCurrentForum && Html.AreControllerAndActionAreCurrent("moderation", "items");
			var forumName = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(forum.Name);
			<li @if (isCurrentForum)
					{<text>class="current"</text>}>
				<a title="Forums" class="articles">@forumName</a>
			
				<section class="sidebar nested" style="padding: 10px; text-align: center; margin-bottom: 5px;">
					<p class="sidebar" style="margin: 0px; display: inline; padding: 0px;">
						<a href="@forum.UrlHostName/org/@ViewBag.OrganizationSlug/forum/@forum.UrlSlug" target="_blank" class="sidebar" style="margin: 0px; display: inline; padding: 0px;">View Forum</a> 
					@*	| 
						<a href="#" class="sidebar" style="margin: 0px; display: inline; padding: 0px;">Public Forum</a>*@
					</p>
				</section>
				<ul class="expand">
					<li @Html.GetClassWhenControllerAndActionAreCurrent(isCurrentForum, "forum", "details", "current")>
						<a href="@Url.Action("Details", "Forum", new { forumId })">Details</a> </li>
				
					<li @Html.GetClassWhenControllerAndActionAreCurrent(isCurrentForum, "content", "list", "current")>
						<a href="@Url.Action("List", "Content", new { forumId })">Content</a> </li>

					<li @Html.GetClassWhenControllerAndActionAreCurrent(isCurrentForum, "category", "list", "current")>
						<a href="@Url.Action("List", "Category", new { forumId })">Categories</a> </li>

					<li @Html.GetClassWhenControllerAndActionAreCurrent(isCurrentForum, "userprofile", "list", "current")>
						<a href="@Url.Action("List", "UserProfile", new { forumId })">Users</a> </li>
				
					<li @Html.GetClassWhenControllerAndActionAreCurrent(isCurrentForum, "badge", "list", "current")>
						<a href="@Url.Action("List", "Badge", new { forumId })">Badges</a> </li>

					<li @Html.GetClassWhenControllerAndActionAreCurrent(isCurrentForum, "avatar", "list", "current")>
						<a href="@Url.Action("List", "Avatar", new {forumId })">Avatars</a>
					</li>

					<li @Html.GetClassWhenControllerAndActionAreCurrent(isCurrentForum, "voting", "list", "current")>
						<a href="@Url.Action("List", "Voting", new { forumId })">Voting</a> </li>
				
					<li @Html.GetClassWhenControllerAndActionAreCurrent(isCurrentForum, "theme", "list", "current")>
						<a href="@Url.Action("List", "Theme", new { forumId })">Themes</a> </li>

					<li @if (moderatingPosts) { <text>class="current"</text>}>
						<a href="@Url.Action("Items", "Moderation", new { forumId })">Moderate Posts & Comments</a> </li>

					<li @Html.GetClassWhenControllerAndActionAreCurrent(isCurrentForum, "forum", "authenticationproviders", "current")>
						<a href="@Url.Action("AuthenticationProviders", "Forum", new { forumId })">Configure Authentication</a> </li>
				</ul>
			</li>
		}
	}
</ul>