@{
	var controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
	var action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
	var selectedForumId = (string)ViewContext.RouteData.Values["forumId"];
}

<ul>
	<li @if (controller == "Dashboard")
			{
				<text>class="current"</text>
			}>
		<a href="@Url.Action("Index", "Dashboard")" title="Home" class="dashboard no-submenu">Dashboard</a>
	</li>

	<li @if (controller == "Organization")
			{
				<text>class="current"</text>
			}>
		<a href="@Url.Action("Index", "Organization")" title="Home" class="dashboard no-submenu">Organization</a>
	</li>



	@for (var i = 1; i <= 3; i++)
	{
		var forumId = Guid.Parse("11111111-1111-1111-1111-11111111111" + i);
		var forumHeaderClass = (forumId.ToString() == selectedForumId) ? "current" : "peek";

		<li class="@forumHeaderClass">
			<a title="Forums" class="articles">Forum @i</a>
			<span original-title="This forum has 47 posts across all categories.">47</span>
			<ul class="forum-sub-menu">
				<li @if (forumId.ToString() == selectedForumId && controller == "Forum" && action == "Settings")
						{
							<text>class="current"</text>
						}><a href="@Url.Action("Settings", "Forum", new { forumId })">Details</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "Content" && action == "ForForum")
						{
							<text>class="current"</text>
						}><a href="@Url.Action("ForForum", "Content", new { forumId })">Content</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "Category" && action == "List")
						{
							<text>class="current"</text>
						}><a href="@Url.Action("List", "Category", new { forumId })">Categories</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "User" && action == "List")
						{
							<text>class="current"</text>
						}><a href="@Url.Action("List", "User", new { forumId })">Users</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "Badge" && action == "List")
						{
							<text>class="current"</text>
						}><a href="@Url.Action("List", "Badge", new { forumId })">Badges</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "Voting" && action == "List")
						{
							<text>class="current"</text>
						}><a href="@Url.Action("List", "VotingScheme", new { forumId })">Voting</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "Theme" && action == "List")
						{
							<text>class="current"</text>
						}><a href="@Url.Action("List", "Theme", new { forumId })">Themes</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "Moderation" && (action == "Posts" || action == "Comments"))
						{
							<text>class="current"</text>
						}><a href="@Url.Action("Posts", "Moderation", new { forumId })">Moderate Posts & Comments</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "Forum" && action == "AuthenticationProviders")
						{
							<text>class="current"</text>
						}><a href="@Url.Action("AuthenticationProviders", "Forum", new { forumId })">Configure Authentication</a></li>
			</ul>
		</li>
	}

	<li class="no-submenu">
		<a href="#" class="new-forum-button new-forum">Add Forum</a>
	</li>
</ul>