@{
	var controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString().ToLower();
	var action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLower();
	var selectedForumId = (string)ViewContext.RouteData.Values["forumId"];
}
<script type="text/javascript">
	$(document).ready(function () {
		$(".peek").mouseenter(function () {
			$(this).children(".forum-sub-menu").show(350);
		});

		$(".peek").mouseleave(function () {
			$(this).children(".forum-sub-menu").hide(350);
		});
	});
</script>

<ul>
	<li @if (controller == "dashboard") {<text>class="current"</text>}>
		<a href="@Url.Action("Index", "Dashboard")" title="Home" class="dashboard no-submenu">Dashboard</a>
	</li>

	<li @if (controller == "organization") {<text>class="current"</text>}>
		<a href="@Url.Action("Index", "Organization")" title="Home" class="dashboard no-submenu">Organization</a>
	</li>

	 <li @if (controller == "forum" && action == "create"){<text>class="current"</text>}>
		<a href="@Url.Action("Create", "Forum")" class="new-forum no-submenu">Add Forum</a>
	 </li>

	@for (int i = 1; i <= 3; i++)
	{
		var forumId = Guid.Parse("11111111-1111-1111-1111-11111111111" + i);
		var forumHeaderClass = (forumId.ToString() == selectedForumId) ? "current" : "peek";
	 
		<li class="@forumHeaderClass">
			<a title="Forums" class="articles">Forum @i</a>
			<ul class="forum-sub-menu">
				<li @if (forumId.ToString() == selectedForumId && controller == "forum" && action == "settings"){<text>class="current"</text>}><a href="@Url.Action("Settings", "Forum", new { forumId })">Details</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "content" && action == "forforum"){<text>class="current"</text>}><a href="@Url.Action("ForForum", "Content", new { forumId })">Content</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "category" && action=="list") {<text>class="current"</text>}><a href="@Url.Action("List", "Category", new { forumId })">Categories</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "user" && action=="list") {<text>class="current"</text>}><a href="@Url.Action("List", "User", new { forumId })">Users</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "badge" && action == "list"){<text>class="current"</text>}><a href="@Url.Action("List", "Badge", new { forumId })">Badges</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "voting" && action == "list"){<text>class="current"</text>}><a href="@Url.Action("List", "VotingScheme", new { forumId })">Voting</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "theme" && action == "list"){<text>class="current"</text>}><a href="@Url.Action("List", "Theme", new {forumId})">Themes</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "moderation" && (action == "posts" || action == "comments")){<text>class="current"</text>}><a href="@Url.Action("Posts", "Moderation", new { forumId })">Moderate Posts & Comments</a></li>
				<li @if (forumId.ToString() == selectedForumId && controller == "forum" && action == "authenticationproviders"){<text>class="current"</text>}><a href="@Url.Action("AuthenticationProviders", "Forum", new { forumId })">Configure Authentication</a></li>
			</ul>
		</li>
	 }
</ul>