@using AgentPanel.Areas.Metadata.Models
@model FooterLinkModel

<div class="metadata-links-container" id="link-container">
  <ul class="metadata-links-list">
    @if (!string.IsNullOrEmpty(this.Model.AgentSytemName) && !string.IsNullOrEmpty(this.Model.PartType))
    {
      <li class="metadata-link-item">
        <a class="metadata-link" href="@Url.Action("ViewPartCollection", "Agents", new { AgentSystemName = Model.AgentSytemName, PartName = Model.PartType })">
          @Model.AgentSytemName's @Model.PartDescriptiveName
        </a>
      </li>
    }

    @if (!string.IsNullOrEmpty(this.Model.AgentSytemName))
    {
      <li class="metadata-link-item"><a class="metadata-link" href="@this.Url.Action("ViewAgent", "Agents", new { AgentSystemName = this.Model.AgentSytemName, })">@this.Model.AgentSytemName details</a></li>
    }

    <li class="metadata-link-item"><a class="metadata-link" href="@this.Url.Action("Index", "Agents")">Agents in composite</a></li>
  </ul>
</div>