@{
	ViewBag.Title = "{Forum Name} - {Category Name}";
	Layout = "~/Views/Shared/_ForumLayout.cshtml";
	ViewBag.CategoriesClass = "active";
}
<ul class="breadcrumb">
	<li><a href="@Url.RouteUrl("Home")">{Forum Name} Home</a> <span class="divider">/</span></li>
	<li><a href="@Url.RouteUrl("Categories")">Categories</a> <span class="divider">/</span></li>
	<li class="active">{Category Name}</li>
</ul>
<h1>{Category Name}</h1>
<hr />
<p><small>(Custom category content.)</small></p>

<div class="row">

	<div class="span8">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Large" })
	</div>

	<div class="span8">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Large" })
	</div>

</div>

<hr>

<div class="row">

	<div class="span8">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Large" })
	</div>

	<div class="span8">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Large" })
	</div>

</div>

<hr>

<div class="row">

	<div class="span4">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small" })
	</div>

	<div class="span4">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small" })
	</div>

	<div class="span4">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small" })
	</div>

	<div class="span4">
		@RenderPage("~/Views/Shared/PostTile.cshtml", new { Size = "Small" })
	</div>

</div>

