@using ForumAgent.ReadModels
@model PostListing
@{
	ViewBag.Title = "My Discussions";
}

<ul class="DataList Discussions">
	@{ var alt = true; }
	@foreach (var post in Model.Posts)
	{
		<li class="Item @if (alt)
										{
											<text>Alt</text>
										}">
			<div class="ItemContent Discussion">
				@Html.ActionLink(post.Title, "Thread", "Post", new { postId = post.Identifier }, new { @class = "Title" })
				<div class="Meta">
					<span class="CommentCount">@post.CommentCount comments</span> 
					<span class="LastCommentBy">Started by @post.AuthorDisplayName</span>
					<span class="LastCommentDate">@post.Created.ToString()</span>
				</div>
			</div>
		</li>
		{
			alt = !alt;
		}
	}
</ul>

<div id="PagerAfter" class="NumberedPager">
	<span class="Previous">‹</span>

	@foreach (var page in Enumerable.Range(1, (Model.TotalPosts / 10 + 1)))
	{
		@Html.ActionLink(page.ToString(), "List", "Post", new { pageSize = 10, offset = page * 10 - 10 }, null)
	}
	
	<span class="Next">›</span>

</div>