@using CompositeInspector.Models
@using Euclid.Common.Messaging
@model IEnumerable<IPublicationRecord>

<script type="text/javascript">
	$(document).ready(function () {


		$(".error").click(function () {

			if ($("#error-row").is(":visible")) {
				$(this).html("Show");
				hideRow();
			} else {
				$(this).html("Hide");

				var msg = $(this).attr("message");
				var stack = $(this).attr("callstack");


				showRow($(this).parent().parent(), msg, stack);
			}
		});
	});

	function hideRow() {
		$("#error-row").hide();
	}

	function showRow(parentRow, msg, stack) {
		hideRow();

		$("#error-message").html(msg);
		$("#call-stack").html(stack);

		$("#error-row").insertAfter($(parentRow));
		$("#error-row").show(164);
	}
</script>

<h5>Publication Records</h5>

@if (Model.Count() == 0)
{
	<div>
		No commands have been published through this composite
	</div>
}
else
{
	<table class="zebra-striped">
		<tr>
			<th>Id</th>
			<th>Created</th>
			<th>Dispatched</th>
			<th>Error</th>
			<th>Type</th>
			<th>Location</th>
		</tr>
		@foreach (var pub in Model)
		{
			<tr>
				<td><a href='@Url.Action("Details", "CommandRegistry", new { publicationId = pub.Identifier })'>@pub.Identifier</a></td>
				<td>@pub.Created</td>
				<td>@pub.Dispatched</td>
				<td>
					@if (@pub.Error)
					{
						<a href="#" class="error"  message="@pub.ErrorMessage" callstack="@pub.CallStack">Show</a>
					}
					else
					{
						@pub.Error
					}
				</td>
				<td>@pub.MessageType</td>
				<td><a href="@pub.MessageLocation">@pub.MessageLocation</a></td>
			</tr>
		}
	</table>

	Html.RenderPartial("Paging");
}

<table>
	<tr id="error-row" style="display: none;">
		<td colspan="6">
			<div class="container-fluid">
				<div class="row">
					<div class="span3 columns">
						<span id="error-message"></span>
					</div>

					<div class="span11 columns">
						<span id="call-stack"></span>
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>