@using MetadataComposite.Areas.Metadata.Models
@model AgentModel

<h1>@this.ViewBag.Title</h1>
<ul>
	<li>@this.Model.SystemName</li>
	<li>@this.Model.DescriptiveName</li>
	<li>@this.Html.DisplayFor(x => x.Commands, "IAgentPart", this.Model.Commands)</li>
	<li>@this.Html.DisplayFor(x => x.Queries, "IAgentPart", this.Model.Queries)</li>
	<li>@this.Html.DisplayFor(x => x.ReadModels, "IAgentPart", this.Model.ReadModels)</li>
</ul>

@{ this.Html.RenderPartial("MetadataLinks", this.Model); }