@using AgentPanel.Areas.Metadata.Models
@model CompositeModel
           
<h1>@ViewBag.Title</h1>

<h2>Agents</h2>
<ul>
@foreach (var a in Model.Agents)
{
    <li><a href="@Url.Action("ViewAgent", "Agents", new { AgentSystemName = a.SystemName })">@a.DescriptiveName</a></li>
}
</ul>

<h2>Input Models</h2>
<ul>
@foreach (var m in Model.InputModels)
{
    <li>@m.Name</li>
}
</ul>


@if (Model.ConfigurationErrors.Count() > 0)
{
    <h2>Errors</h2>
    <ul>
    @foreach(var e in Model.ConfigurationErrors)
    {
        <li>@e</li>
    }
    </ul>
} else
{
    <h2>Configuration</h2>
    <ul>
        <li>Output Channel: @Model.Settings.OutputChannel.Value.Name</li>
        <li>Publisher: @Model.Settings.Publisher.Value.Name</li>
        <li>Blob Storage: @Model.Settings.BlobStorage.Value.Name</li>
        <li>Command Dispatcher: @Model.Settings.CommandDispatcher.Value.Name</li>
        <li>Command Publication Record Mapper: @Model.Settings.CommandPublicationRecordMapper.Value.Name</li>
        <li>Message Serializer: @Model.Settings.MessageSerializer.Value.Name</li>
        <li>Publication Registry: @Model.Settings.PublicationRegistry.Value.Name</li>
    </ul>
}

