@using MetadataComposite.Areas.Metadata.Models
@model PartCollectionModel

<h1>@this.ViewBag.Title</h1>

<ul>
	@foreach (var part in this.Model.Parts.Collection)
	{
		<li>
			@part.Namespace.@part.Name
			(
			<a href="@this.Url.Action(this.Model.NextActionName, "Agents", new { agentSystemName = this.Model.Parts.AgentSystemName, partName = part.Name })">html</a> | 
			<a href="@this.Url.Action(this.Model.NextActionName, "Agents", new { agentSystemName = this.Model.Parts.AgentSystemName, partName = part.Name, format = "xml" })">xml</a> |
			<a href="@this.Url.Action(this.Model.NextActionName, "Agents", new { agentSystemName = this.Model.Parts.AgentSystemName, partName = part.Name, format = "json" })">json</a>)
			
		</li>
	}
</ul>

@{ this.Html.RenderPartial("MetadataLinks", this.Model); }