<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{Forum Name} - {Username}'s Favorites</title>
	<meta name="description" content="">
	<meta name="author" content="">
	@RenderPage("~/partials/shared/Styles.cshtml")
	@RenderPage("~/partials/shared/Scripts.cshtml")
</head>
<body>
	@RenderPage("~/partials/TopBar.cshtml")

	<div class="container-fluid">
		@RenderPage("~/partials/Sidebar.cshtml")

		<div class="content">
			<ul class="breadcrumb">
				<li><a href="Home.cshtml">{Forum Name} Home</a> <span class="divider">/</span></li>
				<li><a href="AllUsers.cshtml">All Users</a> <span class="divider">/</span></li>
				<li><a href="User.cshtml">{Username}</a> <span class="divider">/</span></li>
				<li class="active">Favorites</li>
			</ul>
			<h1>{Username}'s Favorites</h1>
			<hr />
			@RenderPage("~/partials/UserProfileTabs.cshtml")
			<p><small>(User info here.)</small></p>
			<footer>
				<p>&copy; Newco 2011-12</p>
			</footer>
		</div>

	</div>

</body>
</html>
