<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{Forum Name} - {Username}'s Profile</title>
		<meta name="description" content="">
		<meta name="author" content="">

		@RenderPage("~/partials/shared/Styles.cshtml")
		@RenderPage("~/partials/shared/Scripts.cshtml")

	</head>

	<body>

		@RenderPage("~/partials/TopBar.cshtml")

		<div class="container-fluid">

			@RenderPage("~/partials/Sidebar.cshtml")

			<div class="content">

				<h1>{Username}'s Profile</h1>

				<ul class="breadcrumb">
					<li><a href="AllUsers.cshtml">Users</a> <span class="divider">/</span></li>
					<li class="active">{Username}</li>
				</ul>

				<hr />

				@RenderPage("~/partials/UserProfileTabs.cshtml")

				<footer>
					<p>&copy; Newco 2011-12</p>
				</footer>
			</div>
		</div>

	</body>
</html>