@using AdminComposite.Extensions
@using AdminComposite.Models
@using ForumAgent.ReadModels
@model OrganizationUsers
@{
	((PaginationModel)ViewBag.Pagination).WriteTFoot = false;
	((PaginationModel)ViewBag.Pagination).WriteTable = false;
	((PaginationModel)ViewBag.Pagination).WriteTr = false;
	((PaginationModel)ViewBag.Pagination).ColSpan = 4;
}

<script type="text/javascript">
	$(document).ready(function () {
		$("#add-user").click(function () {
			$("<div></div>")
				.load("/Organization/RegisterUser?organizationId=@ViewBag.OrganizationId&currentUserId=@ViewBag.UserId")
				.modal({
					autoResize: true,
					autoPosition: true,
					position: new Array(25, 300),
					dataCss: { backgroundColor: "#fff", overflow: "auto", height: 385, width: 635 },
					containerCss: { height: 400, width: 650 }
				});

			return false;
		});

		$(".edit.user").click(function () {
			var organizationId = "@ViewBag.OrganizationId";
			$("<div></div>")
				.load("/Organization/UpdateUser?organizationId=@ViewBag.OrganizationId&userId=" + $(this).attr("data-item-id"))
				.modal({
					autoResize: true,
					autoPosition: true,
					position: new Array(25, 300),
					dataCss: { backgroundColor: "#fff", overflow: "auto", height: 385, width: 635 },
					containerCss: { height: 400, width: 650 }
				});
		});

		$("#save").click(function () {
			$("#save").attr("disabled", "disabled");
			var inputModel;

			try {
				inputModel = EUCLID.getModel({commandName: "ActivateOrganizationUser"});
			} catch(e) {
				EUCLID.displayError("Unable to get model for command ActivateOrganizationUser", e.name + "<br />" + e.message);
				return false;
			}

			$(".activate-user").each(function(index, item) {
				var currentName = $(item).attr("data-item-name");

				try{
					inputModel.UserIdentifier = $(item).attr("data-item-id");
					inputModel.Active = $(item).is(":checked");
					EUCLID.publish(inputModel);
				} catch(e) {
					EUCLID.displayError("Unable to activate user " + currentName, e.name + "<br />" + e.message);
				}
			});
			
			setTimeout('$("#save").removeAttr("disabled");', 750);
			return false;
		});
	});   //document.ready
</script>

<article>
	<header>
		<h2>Manage Organization Users</h2>
	</header>

	<section>
		<p style="float: left">View, add and edit organization users</p>
		<a href="#" style="float:right" class="button-link blue" id="add-user">Add User</a>
	</section>

	<table>
		<thead>
			<tr>
				<th>Active</th>
				<th>Name</th>
				<th>Email</th>
				<th>Last Login</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		@if (Model.TotalNumberOfUsers == 0)
		{
			<tbody class="no-table-data">
				<tr>
					<td colspan="5">There are no other users associated with this organization, invite one using the blue button above.</td>
				</tr>
			</tbody>
		}
		else
		{
			<tfoot>
				<tr>
					<td><button type="button" id="save">Save</button></td>
					@Html.Partial("_pagination")
				</tr>
			</tfoot>
			<tbody>
				@foreach (var user in Model.Users)
				{
					var isCurrentUser = (HttpContext.Current.User.Identity.Name == user.Username);
					<tr>
						<td><input type="checkbox" @if (user.Active) { <text>checked="checked"</text> } @if (isCurrentUser) {<text>disabled="disabled"</text>} class="activate-user" data-item-id="@user.Identifier" data-item-name="@user.FirstName @user.LastName"/></td>
						<td>
							@if (isCurrentUser)
							{
								<span>(You)</span>
							} 
							@user.FirstName @user.LastName
						</td>
						<td><a href="mailto:@user.Email">@user.Email</a></td>
						<td>@user.LastLogin.GetFriendlyRelativeTime()</td>
						<td>
							<ul class="actions">
								<li><a class="edit user" rel="tooltip" href="#" original-title="Edit" data-user-name="@user.FirstName @user.LastName" data-user-id="@user.Identifier">Edit</a></li>
							</ul>
						</td>
					</tr>
				}
			</tbody>
		}
	</table>
</article>

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="@Url.Action("Index", "Dashboard")" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.OrganizationName</li>
		<li>Manage Organization Users</li>
	</ul>
}