@using AdminComposite.Extensions
@using ForumAgent.ReadModels
@model IList<OrganizationUser>

<script type="text/javascript">
	$(document).ready(function() {
		$("#add-user").click(function() {
			$("<div></div>")
				.load("/Organization/RegisterUser?organizationId=@ViewBag.OrganizationId&currentUserId=@ViewBag.UserId")
				.modal({
						autoResize: true,
						autoPosition: true,
						position: new Array(25, 300),
						dataCss: { backgroundColor: "#fff", overflow: "auto", height: 385, width: 635 },
						containerCss: { height: 400, width: 650 }
					});

			return false;
		});

		$(".edit.user").click(function() {
			var organizationId = "@ViewBag.OrganizationId";
			$("<div></div>")
				.load("/Organization/UpdateUser?organizationId=@ViewBag.OrganizationId&userId=" + $(this).attr("data-user-id"))
				.modal({
						autoResize: true,
						autoPosition: true,
						position: new Array(25, 300),
						dataCss: { backgroundColor: "#fff", overflow: "auto", height: 385, width: 635 },
						containerCss: { height: 400, width: 650 }
					});

		});
	});
</script>

<article>
	<header>
		<h2>Manage Forum Administrators</h2>
	</header>

	<section>
		<p style="float: left">Manage forum administrators</p>
		<a href="#" style="float:right" class="button-link blue" id="add-user">Add User</a>
	</section>

	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Last Login</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model)
			{
				<tr>
					<td>
						@if (HttpContext.Current.User.Identity.Name == user.Username)
						{
							<span>(You)</span>
						} 
						@user.FirstName @user.LastName
					</td>
					<td><a href="mailto:@user.Email">@user.Email</a></td>
					<td>@user.LastLogin.GetFriendlyRelativeTime()</td>
					<td>
						<ul class="actions">
							<li><a class="edit user" rel="tooltip" href="#" original-title="Edit" data-user-name="@user.FirstName @user.LastName" data-user-id="@user.Identifier">Edit</a></li>
						</ul>
					</td>
				</tr>
			}
		</tbody>
	</table>
</article>

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="@Url.Action("Index", "Dashboard")" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.OrganizationName</li>
		<li>Manage Forum Administrators</li>
	</ul>
}