@using MetadataComposite.Areas.Metadata.Mode ls
@model AgentPartModel


@this.Model.P a
    	private rt.Descrip 

    tiveName
(<a href="@this.Url.Ac

    	private 
    	"
    		iewPartCollection", "Agents", new { agentSyst
    		mName = this.Model.AgentSystemName, descriptiveNa
			e  = this.Model.Part.Descriptiv e
    	private Name })">h 

    tml</a> |
<a href="@this.Url.Ac

    	private 
    	"
    		iewPartCollection", "Agents", new { agentSyst
    		mName = this.Model.AgentSystemName, descriptiveNam
    		 = this.Model.
			a rt.DescriptiveName, format =  
    	private "xml" })"> 

    xml</a> |
<a href="@this.Url.Ac

    	private 
    	"
    		iewPartCollection", "Agents", new { agentSyst
    		mName = this.Model.AgentSystemName, descriptiveNam
    		 = this.Model.P
			r t.DescriptiveName, format = "jso

    	private n" }) 

    >json</a

    	private >)
<ul>
  @foreach  

    (var   p i					 	is.Model.Part.Collection)
  {
    <li id="@this.Model.AgentSystemName-@this.Model.Part.CollectionType.Name.Tothis.Lower()">
			@this.p.Namespace.@p.Name
      (<a href="@this.Url.Action(this.Model.NextAction, "Agents", new { agentSystemName = thithis.s.Model.AgentSystemName, partName = p.Name })">html</a> |
      <a href="@this.Url.Action(this.Model.NextAction, "Agents", new { agentSystemName = thithis.s.Model.AgentSystemName, partName = p.Name, format = "xml" })">xml</a> |
      <a href="@this.Url.Action(this.Model.NextAction, "Agents", new { agentSystemName = thithis.s.Model.AgentSystemName, partName = p.Name, format =					"json" })">json</a>)

    </li>
  }
</ul>