@using ForumAgent.ReadModels
@model PostDetail
@{
	ViewBag.Title = "Comments";
}

<div class="DiscussionWrapper">

	<div class="Tabs HeadingTabs DiscussionTabs">

		<div class="SubTab">@Model.InitialPost.Title</div>

		<ul>
			<li><a href="@Url.Action("List")">All Discussions</a></li>
		</ul>
		<p>
			@Model.InitialPost.Body
		</p>
	</div>

	<ul class="MessageList Discussion">
		@foreach (var comment in Model.Comments)
	{
			<li class="Item Comment FirstComment" id="Discussion_48">

				<div class="Comment">

					<div class="Meta">
						<span class="Author"><a title="smhinsey" href="#user">
							<img src="https://secure.gravatar.com/avatar/4ff80c3ba10af1c3a5d86f293003cc99?s=140&d=https://gs1.wac.edgecastcdn.net/80460E/assets%2Fimages%2Fgravatars%2Fgravatar-140.png"
								alt="smhinsey" />
						</a>
							@comment.AuthorDisplayName
						</span>
						<br />
						<span class="DateCreated">@comment.Created.ToString()</span> <span class="Permalink">
							<a href="#permalink" class="Permalink" name="Item_1" rel="nofollow">Permalink</a>
						</span>

						<div class="CommentInfo">
						</div>

					</div>

					<div class="Message">
						<b>@comment.Title</b><br/>
							@comment.Body
					</div>

				</div>

			</li>
	}
	</ul>
</div>

<div class="Foot">
	@Html.ActionLink("Add a Comment", "AddComment", null, new { @class = "TabLink SignInPopup" })
</div>

