@using Euclid.Framework.Cqrs.Metadata
@model IAgentMetadata

<div class="model-header">
    @Model.Scheme.@Model.SystemName
</div>
    
<div class="property-set">
    <div class="property-label">@Html.LabelFor(x=>x.FriendlyName)</div>
    <div class="property-value">@Model.FriendlyName</div>
</div>

<div class="property-set">
    <div class="property-label">@Html.LabelFor(x=>x.SystemName)</div>
    <div class="property-value">@Model.SystemName</div>
</div>

<div class="property-set">
    <div class="property-label">@Html.LabelFor(x=>x.Scheme)</div>
    <div class="property-value">@Model.Scheme</div>
</div>

<div class="property-set">
    <div class="property-label">@Html.LabelFor(x=>x.CommandNamespace)</div>
    <div class="property-value">@Model.CommandNamespace</div>
</div>
    
<div class="property-set">
    <div class="property-label">@Html.LabelFor(x=>x.QueryNamespace)</div>
    <div class="property-value">@Model.QueryNamespace</div>
</div>

<div class="property-set">
    <div class="property-label">@Html.LabelFor(x=>x.CommandProcessorNamespace)</div>
    <div class="property-value">@Model.CommandProcessorNamespace</div>
</div>
