@using AdminComposite.Models
@using ForumAgent.ReadModels
@model IList<ForumBadge>
@{
	ViewBag.Title = "Custom Badges";
	((PaginationModel) ViewBag.Pagination).ColSpan = 4;
}
<script type="text/javascript">
	var forumId = "@ViewContext.RouteData.Values["forumId"]";
	$(document).ready(function() {
		$("#create-badge").click(function() {
			$("<div></div>")
				.load("/Badge/NewBadge/" + forumId)
				.modal({
						autoResize: true,
						autoPosition: true,
						position: new Array(25, 250),
						dataCss: { backgroundColor: "#fff", overflow: "hidden", height: 535, width: 585 },
						containerCss: { height: 550, width: 600 }
					});

			return false;
		});

		$("#save").click(function() {
			$(this).attr("disabled", "disabled");
			
			$(".badge-active").each(function(index, item) {
				var badgeId = $(item).attr("data-item-id");
				$.get("/Badge/ActivateBadge?badgeId=" + badgeId + "&active=" + $(item).is(":checked"));
			});

			setTimeout("enableSaveButton()", 750);
		});

		$(".edit").click(function() {
			var badgeId = $(this).attr("data-item-id");

			$("<div></div>")
				.load("@Url.Action("UpdateBadge")?badgeId=" + badgeId)
				.modal({
						autoResize: true,
						autoPosition: true,
						position: new Array(25, 300),
						dataCss: { backgroundColor: "#fff", overflow: "hidden", height: 485, width: 635 },
						containerCss: { height: 500, width: 650 }
					});
			return false;
		});
	});
	
	
	function enableSaveButton() {
		$("#save").removeAttr('disabled');
	}
</script>
<article>
	<header>
		<h2>Manage Forum Badges</h2>
	</header>

	<section>
		<p style="float: left">View, add, edit and activate forum badges</p>
		<a href="#" style="float:right" class="button-link blue" id="create-badge">Add Badge</a>
	</section>

	<table>
		<thead>
			<tr>
				<th>Active</th>
				<th>Name</th>
				<th>Trigger</th>
				<th>Image</th>
				<th></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td>
					<ul class="button-switch">
						<li><button type="button" id="save">Save</button></li>
					</ul>
				</td>
				@Html.Partial("_pagination")
			</tr>
		</tfoot>
		<tbody>
			@foreach (var badge in Model)
			{
				<tr>
					<td>@Html.CheckBoxFor(m => badge.Active, new { @class = "badge-active", data_item_id = @badge.Identifier })</td>
					<td>@badge.Name</td>
					<td>@badge.Field @badge.Operator @badge.Value</td>
					<td>@if (!string.IsNullOrEmpty(badge.ImageUrl)) { <text><img src="@badge.ImageUrl" alt="badge image" /></text>}else {<text>&nbsp;</text>}</td>
					<td>
						<ul class="actions">
							<li><a class="edit" rel="tooltip" href="#" data-item-id="@badge.Identifier" original-title="Edit">Edit</a></li>
						</ul>
					</td>
				</tr>
			}

		</tbody>
	</table>
</article>
@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="@Url.Action("Index", "Dashboard")" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.ForumName</li>
		<li>@ViewBag.Title</li>
	</ul>
}