@using MetadataComposite.Areas.Metadata.Models
@model AgentListModel

<h1>@this.ViewBag.Title</h1>

<ul>
	@foreach (var agent in this.Model.Agents)
	{
		<li>
			@agent.DescriptiveName - @agent.SystemName 
			(<a href="@this.Url.Action("ViewAgent", "Agents", new { AgentSystemName = agent.SystemName })">html</a> |
			<a href="@this.Url.Action("ViewAgent", "Agents", new { AgentSystemName = agent.SystemName, Format = "xml" })">xml</a> |
			<a href="@this.Url.Action("ViewAgent", "Agents", new { AgentSystemName = agent.SystemName, Format = "json" })">json</a>)
		</li>
	}
</ul>

@{ this.Html.RenderPartial("MetadataLinks", this.Model); }