
<!doctype html>
<html lang="en" class="no-js">
  <head>
    <title>@this.ViewBag.Title</title>
    @this.RenderPage("Header/Meta.cshtml")
    <link rel="shortcut icon" href="@this.Content("~/Content/chromatron/img/favicon.ico")">
    <link rel="apple-touch-icon" href="@this.Content("~/Content/chromatron/img/apple-touch-icon.png")">
    @this.RenderPage("Header/Styles.cshtml")
    @this.RenderPage("Header/Scripts.cshtml")
  </head>
  <body>
    <!-- Right Rail -->
    <section role="navigation">
      <!-- Header with logo and headline -->
      <header><a href="/" title="Back to Homepage"></a>
        <h1>Lorem ipsum dolor sit amet!</h1>
      </header>
      <!-- Badge -->
      @this.RenderPage("RightRail/Badge.cshtml")
      <!-- /Badge -->
      <!-- Main Navigation -->
      <nav id="main-nav">
        @this.RenderPage("RightRail/SitewideNavigation.cshtml")
      </nav>
      <!-- /Main Navigation -->
      <!-- Sidebar Content -->
      @this.RenderSection("Sidebar", required: false)
      <!-- /Sidebar Content -->
    </section>
    <!-- /Right Rail -->
    <!-- Main Content -->
    <section role="main">
      <!-- InfoWidget Header Container -->
      @this.RenderPage("Header/InfoWidgets.cshtml")
      <!-- /InfoWidget Header Container -->
      <!-- Breadcumbs -->
      @this.RenderPage("Header/Breadcrumbs.cshtml")
      <!-- /Breadcumbs -->
      <!-- Body Content -->
      <article class="full-block clearfix">
        @this.RenderBody()
      </article>
      <!-- /Body Content -->
    </section>
    <!-- /Main Content -->
    @this.RenderPage("Footer/Scripts.cshtml")
  </body>
</html>