@model object
<script type="text/javascript">
	$(document).ready(function () {
		$($(".moderation-item.unread")[0]).addClass("current-unread");

		$(document).keydown(function (event) {
			var bubble = true;

			var postId = $(".current-unread").attr("data-post-id");

			if (event.which == 40) { // down arrow
				if (!$(".current-unread").length) {

					console.log("loading next page");
					return false;
				};

				approveItem(postId);
				advanceSelection();

				bubble = false;
			} else if (event.which == 82) { // R (for remove)
				removeItem(postId);
				advanceSelection();

				bubble = false;
			}

			ensureVisibility();

			return bubble;
		});

		$("#select-moderation").change(function() {
			var type = $(this).val();
			if ( type == "Posts") {
				window.location.href = "@Url.Action("Posts", "Moderation", new { forumId = Request.QueryString["forumId"]})";
			} else if (type == "Comments") {
				window.location.href = "@Url.Action("Comments", "Moderation", new { forumId = Request.QueryString["forumId"] })";
			}
		});
	});

	function removeItem(postId) {
		// TODO: ajax call
		console.log("removing item: " + postId);
		updateItem(postId, "moderator-removed", "removed");
	}
	
	function approveItem(postId) {
		// TODO: ajax call
		console.log("approving item: " + postId);
		updateItem(postId, "moderator-approved", "approved");
	}
	
	function updateItem(postId, itemClass, text) {
		$(".last-action[data-post-id='" + postId + "']").text(text);
		$(".moderation-item.unread[data-post-id='" + postId + "']").addClass(itemClass);
	}
	
	function advanceSelection() {
		$(".current-unread").removeClass("unread").removeClass("current-unread").addClass("read");

		$($(".moderation-item.unread")[0]).addClass("current-unread");
	}

	function ensureVisibility() {
		if (!$(".current-unread").length) return;
		
		var top = parseInt($(".current-unread").position().top);
		
		if(!$(".current-unread:in-viewport").length) {
			console.log("off the screen");

			$(window).scrollTop(top - 25);
		}
	}
</script>
<section>
	<p>
		<label for="select-moderation">Moderate</label>
		<select id="select-moderation">
			<option @if (ViewBag.ModerationType == "Post")
					 {<text>selected="selected"</text>}>Posts</option>
			<option @if (ViewBag.ModerationType == "Comment")
					 {<text>selected="selected"</text>}>Comments</option>
		</select>
	</p>
</section>
<div>
	<h3>Latest Activity</h3>
		<ul class="logs">
		@{ for (var i = 0; i < 15; i++)
		   {
		   	var postId = Guid.NewGuid();
		   	<li class="moderation-item unread" data-post-id="@postId">
				<div style="float:left;width:90%">
					<span class="logs-timestamp">post date</span>
					<h4>@ViewBag.ModerationType Title</h4>

					<p>
						Aliquam placerat posuere neque, at dignissim magna ullamcorper. The Dude abides.
						In aliquam sagittis massa ac tortor ultrices faucibus. Nihilists! Jesus. Can we
						just rent it from you? Curabitur eu mi sapien, ut ultricies ipsum morbi. I like
						your style, Dude. Eget risus nulla nullam vel nisi enim, vel. Little Lebowski Urban
						Achievers, yes, and proud we are of all of them. Auctor ante morbi id urna vel felis
						lacinia.
					</p>

					<em class="logs-meta">posted by author-name</em>
				</div>

				<div style="float: left; margin-left: 25px;">
					<a href="#" class="approve" ><img src="@Url.Content("~/Content/thumb-up.png")" alt="approve" rel="tooltip" original-title="Approve this @ViewBag.ModerationType"/></a>
					<br/>
					<a href="#" class="reject"><img src="@Url.Content("~/Content/thumb-down.png")" alt="reject" rel="tooltip" original-title="Reject this @ViewBag.ModerationType"/></a>
					<br/>
					<a href="#" class="block-user"><img src="@Url.Content("~/Content/chromatron/img/icons/icon_table_delete.png")" alt="block author" rel="tooltip" original-title="Block this author"/></a>
					<br/>
					<p style="margin-top: 25px" class="note last-action" data-post-id="@postId"></p>
				</div>
			</li>
		   } 
		}
	</ul>
</div>