@using ForumAgent.ReadModels
@model IList<Forum>


<section style="margin-top:10px">
		<article>
			<header>
				<h2>Forums</h2>
			</header>
		</article>

		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Status</th>
					<th>Posts</th>
					<th>Last Activity</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>My first forum</td>
					<td>Public</td>
					<td>372</td>
					<td>just now</td>
					<td>
						<ul class="actions">
							<li><a href="#" class="edit" rel="tooltip" original-title="Edit">Edit</a></li>
							<li><a href="@Url.Action("Settings", "Forum", new {forumId = "11111111-1111-1111-1111-111111111111"})" class="settings" rel="tooltip" original-title="Settings">Settings</a></li>
							<li><a href="@Url.Action("Posts", "Moderation", new { forumId = new Guid("11111111-1111-1111-1111-111111111111")})" class="moderate" rel="tooltip" original-title="Moderate">Moderate</a></li>
							<li><a href="@Url.Action("List", "User", new { forumId = new Guid("11111111-1111-1111-1111-111111111111") })" class="manage-users" rel="tooltip" original-title="Manage Users">Manage Users</a></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Another forum</td>
					<td>Invite-only</td>
					<td>23</td>
					<td>11/01/2011 3:52pm</td>
					<td>
						<ul class="actions">
							<li><a href="#" class="edit" rel="tooltip" original-title="Edit">Edit</a></li>
							<li><a href="@Url.Action("Settings", "Forum", new {forumId = "11111111-1111-1111-1111-111111111112"})" class="settings" rel="tooltip" original-title="Setings">Settings</a></li>
							<li><a href="@Url.Action("Posts", "Moderation", new { forumId = new Guid("11111111-1111-1111-1111-111111111112")})" class="moderate" rel="tooltip" original-title="Moderate">Moderate</a></li>
							<li><a href="@Url.Action("List", "User", new { forumId = new Guid("11111111-1111-1111-1111-111111111112") })" class="manage-users" rel="tooltip" original-title="Manage Users">Manage Users</a></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>

		<a href="#" id="new-forum-button" style="float:right">New Forum</a>
	</section>