@using AdminComposite.Models
@{
	var paginationModel = (PaginationModel) ViewBag.Pagination;
	
	var openTable = (paginationModel.WriteTable) ? "<table>" : string.Empty;
	var closeTable = (paginationModel.WriteTable) ? "</table>" : string.Empty;

	var openTFoot = (paginationModel.WriteTFoot) ? "<tfoot>" : string.Empty;
	var closeTFoot = (paginationModel.WriteTFoot) ? "</tfoot>" : string.Empty;

	var openTr = (paginationModel.WriteTr) ? "<tr>" : string.Empty;
	var closeTr = (paginationModel.WriteTr) ? "</tr>" : string.Empty;
}

@Html.Raw(openTable)
	@Html.Raw(openTFoot)
		@Html.Raw(openTr)
			<td @if(paginationModel.ColSpan > 0) { <text>colspan="@paginationModel.ColSpan"</text>}>
				<ul class="pagination">
					<li><a href="@Url.Action(paginationModel.ActionName, paginationModel.ControllerName, new { forumId = paginationModel.ForumIdentifier })" class="button gray"><< first</a></li>
					<li><a href="@Url.Action(paginationModel.ActionName, paginationModel.ControllerName, new { offset = paginationModel.PreviousPageOffset, pageSize = paginationModel.PageSize, forumId = paginationModel.ForumIdentifier })" class="button gray">< prev</a></li>

					@if (paginationModel.ShowLeadingEllipsis)
					{
						<li class="hellip">...</li>
					}

					@for (var i = - 2; i < 0; i++)
					{
						var offset = paginationModel.GetOffsetForPage(i);

						if (offset >= 0)
						{
							<li><a href="@Url.Action(paginationModel.ActionName, paginationModel.ControllerName, new {offset, pageSize = paginationModel.PageSize, forumId = paginationModel.ForumIdentifier })" class="button gray">@(paginationModel.CurrentPage + i)</a></li>
						}
					}

					<li><a href="@Url.Action(paginationModel.ActionName, paginationModel.ControllerName, new { @offset = paginationModel.Offset, pageSize = paginationModel.PageSize, forumId = paginationModel.ForumIdentifier })" class="button">@paginationModel.CurrentPage</a></li>

					@for (var i = 1; i < 3; i++)
					{
						var offset = paginationModel.GetOffsetForPage(i);

						if (offset >= 0)
						{
							<li><a href="@Url.Action(paginationModel.ActionName, paginationModel.ControllerName, new { offset, pageSize = paginationModel.PageSize, forumId = paginationModel.ForumIdentifier })" class="button gray">@(paginationModel.CurrentPage + i)</a></li>
						}
					}

					@if (paginationModel.ShowTrailingEllipsis)
					{
						<li class="hellip">...</li>
					}
							
					<li><a href="@Url.Action(paginationModel.ActionName, paginationModel.ControllerName, new { @offset = paginationModel.NextPageOffset, pageSize = paginationModel.PageSize, forumId = paginationModel.ForumIdentifier })" class="button gray">next ></a></li>
					<li><a href="@Url.Action(paginationModel.ActionName, paginationModel.ControllerName, new { @offset = paginationModel.LastPageOffset, pageSize = paginationModel.PageSize, forumId = paginationModel.ForumIdentifier })" class="button gray">last >></a></li>
				</ul>
			</td>
		@Html.Raw(closeTr)
	@Html.Raw(closeTFoot)
@Html.Raw(closeTable)
