@{
	ViewBag.Title = "Manage Forum Users";
	var forumId = ViewContext.RouteData.Values["forumId"];
}

<div class="article-container">
	<article>
		<header>
			<h2>@ViewBag.Title</h2>
		</header>
		<p>Lorem ipsum dolor sit consecutator amet. </p>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Username</th>
					<th># Posts</th>
					<th># Votes</th>
					<th>Last Login</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Jeff Dowd</td>
					<td>thedude</td>
					<td>7</td>
					<td>
						<ul class="actions">
							<li>3</li>
							<li><a href="#" class="reset-votes" rel="tooltip" original-title="Reset Vote Count">Reset Vote Count</a></li>
						</ul>
					</td>
					<td>11/01/11</td>
					<td>
						<ul class="actions">
							<li><a href="#" class="block-user" rel="tooltip" original-title="Block Jeff Dowd" data-item-id="11111111-1111-1111-1111-111111111111" data-confirmation-message="Really Block Jeff Dowd?" data-confirm-function="blockUser">Block User</a></li>
							<li><a href="#" class="view" rel="tooltip" original-title="View Forum">@Url.Action("Settings", "Forum", new {forumId})</a></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Peter Exline</td>
					<td>thestranger</td>
					<td>898</td>
					<td>
						<ul class="actions">
							<li>7</li>
							<li><a href="#" class="reset-votes" rel="tooltip" original-title="Reset Vote Count">Reset Vote Count</a></li>
						</ul>
					</td>
					<td>10/01/11</td>
					<td>
						<ul class="actions">
							<li><a href="#" class="block-user" rel="tooltip" original-title="Block Peter Exline" data-item-id="22222222-2222-2222-2222-222222222222" data-confirmation-message="Really Block Peter Exline?" data-confirm-function="blockUser">Block User</a></li>
							<li><a href="#" class="view" rel="tooltip" original-title="View Forum">@Url.Action("Settings", "Forum", new {forumId})</a></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Walter Hill</td>
					<td>larry</td>
					<td>15</td>
					<td>
						<ul class="actions">
							<li>12</li>
							<li><a href="#" class="reset-votes" rel="tooltip" original-title="Reset Vote Count">Reset Vote Count</a></li>
						</ul>
					</td>
					<td>09/01/11</td>
					<td>
						<ul class="actions">
							<li><a href="#" class="block-user" rel="tooltip" original-title="Block Walter Hill" data-item-id="44444444-4444-4444-4444-444444444444" data-confirmation-message="Really Block Walter Hill?" data-confirm-function="blockUser">Block User</a></li>
							<li><a href="#" class="view" rel="tooltip" original-title="View Forum">@Url.Action("Settings", "Forum", new {forumId})</a></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</article>
</div>

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="/" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.Title</li>
	</ul>
}
