@using CompositeInspector.Models
@model AgentModel

<h5>@Model.DescriptiveName</h5>
<dl>
	<dt>@Model.AgentSystemName</dt>
	<dd>@Model.Description</dd>
</dl>

<ul>
	<li>@Html.DisplayFor(x => x.Commands, "IAgentPart", @Model.Commands)</li>
	<li>@Html.DisplayFor(x => x.Queries, "IAgentPart", @Model.Queries)</li>
	<li>@Html.DisplayFor(x => x.ReadModels, "IAgentPart", @Model.ReadModels)</li>
</ul>