@using CompositeInspector.Models
@model AgentModel
<div class="row show-grid">

	<div class="span16 columns">
		<h5>@Model.DescriptiveName <small>(@Model.AgentSystemName)</small></h5>
		<dl>
			<dd>@Model.Description</dd>
		</dl>
	</div>

</div>

<div class="row show-grid">

	<div class="span5 columns">
		@Html.DisplayFor(x => x.Commands, "IAgentPart", @Model.Commands)
	</div>

	<div class="span6 columns">
		@Html.DisplayFor(x => x.Queries, "IAgentPart", @Model.Queries)
	</div>

	<div class="span5 columns">
		@Html.DisplayFor(x => x.ReadModels, "IAgentPart", @Model.ReadModels)
	</div>

</div>

