@using CompositeInspector.Models
@model PartCollectionModel

<h5>@ViewBag.Title</h5>

<ul>
	@foreach (var part in Model.Parts.Collection)
	{
		<li>
			<a href="@Url.Action(Model.NextActionName, "Agents", new { agentSystemName = Model.Parts.AgentSystemName, partName = part.Name })">@part.Name</a>
			(<a href="@Url.Action(Model.NextActionName, "Agents", new { agentSystemName = Model.Parts.AgentSystemName, partName = part.Name, format = "xml" })">xml</a> |
			<a href="@Url.Action(Model.NextActionName, "Agents", new { agentSystemName = Model.Parts.AgentSystemName, partName = part.Name, format = "json" })">json</a>)
		</li>
	}
</ul>