@using CompositeInspector.Models
@model AgentPartModel


<strong><a href="@Url.Action("ViewPartCollection", "Agents", new { agentSystemName = @Model.AgentSystemName, descriptiveName = @Model.Part.DescriptiveName })">@Model.Part.DescriptiveName</a></strong>
<small>(<a href="@Url.Action("ViewPartCollection", "Agents", new { agentSystemName = @Model.AgentSystemName, descriptiveName = @Model.Part.DescriptiveName, format = "xml" })">xml</a> |
<a href="@Url.Action("ViewPartCollection", "Agents", new { agentSystemName = @Model.AgentSystemName, descriptiveName = @Model.Part.DescriptiveName, format = "json" })">json</a>)</small>
<ul>
	@foreach (var p in @Model.Part.Collection)
	{
		<li id="@Model.AgentSystemName-@Model.Part.CollectionType.Name.ToLower()">
			<a href="@Url.Action(@Model.NextAction, "Agents", new { agentSystemName = @Model.AgentSystemName, partName = p.Name })">@p.Name</a>
			<small>(<a href="@Url.Action(@Model.NextAction, "Agents", new { agentSystemName = @Model.AgentSystemName, partName = p.Name, format = "xml" })">xml</a> |
			<a href="@Url.Action(@Model.NextAction, "Agents", new { agentSystemName = @Model.AgentSystemName, partName = p.Name, format = "json" })">json</a>)</small>

		</li>
	}
</ul>