<ul class="tabs">
	<li class="active"><a href="@Url.RouteUrl("ProfileOverview", new { profileSlug = "my-profile-slug"})">Overview</a></li>
	<li><a href="@Url.RouteUrl("ProfileRecentActivity", new { profileSlug = "my-profile-slug" })">Recent Activity</a></li>
	<li><a href="@Url.RouteUrl("ProfileFavorites", new { profileSlug = "my-profile-slug" })">Favorites</a></li>
	<li><a href="@Url.RouteUrl("ProfileBadges", new { profileSlug = "my-profile-slug" })">Badges</a></li>
	<li><a href="@Url.RouteUrl("ProfileFriends", new { profileSlug = "my-profile-slug" })">Friends</a></li>
</ul>
