@using Euclid.Framework.Metadata
@model IAgentMetadata
           
<fieldset>
    <div class="model-header">
        Model.SystemName
    </div>
    
    <div class="property-set">
        <div class="property-label">@Html.LabelFor(x => x.DescriptiveName)</div>
        <div class="property-value">@Model.DescriptiveName</div>
    </div>

    <div class="property-set">
        <div class="property-label">@Html.LabelFor(x => x.SystemName)</div>
        <div class="property-value">@Model.SystemName</div>
    </div>

    <div class="property-set">
        <div class="property-label">Html.LabelFor(x => x.Commands.Namespace)</div>
        <div class="property-value">
            <a href="@Url.Action("List", "Command", new {systemName = Model.SystemName})">
                @Model.Commands.Namespace
            </a>
        </div>
    </div>
    
    <div class="property-set">
        <div class="property-label">Html.LabelFor(x => x.Queries.Namespace)</div>
        <div class="property-value">Model.Queries.Namespace</div>
    </div>
</fieldset>