@using AdminComposite.Models
@using Euclid.Composites.Mvc.Extensions
@model CreateForumInputModel
@{
	ViewBag.Title = "Create a Forum";
}

<div class="article-container">
	<header>
		<h2>@ViewBag.Title</h2>
	</header>
	<section>
			@using (Html.BeginFormForInputModel(Model, true, Url.Action("Manage")))
	 {
				<fieldset><legend>Forum Settings</legend>
					<dl>
						<dt>Name</dt>
						<dd>@Html.EditorFor(m => m.Name)</dd>
						<dt>Host</dt>
						<dd>@Html.EditorFor(m => m.UrlHostName)</dd>
						<dt>Slug</dt>
						<dd>@Html.EditorFor(m => m.UrlSlug)</dd>
					</dl>
				</fieldset>
				<button type="submit">Create Forum</button> <text> or </text> @Html.ActionLink("Cancel", "Manage")
	 }
	</section>
	<footer>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et <a href="#">
			dignissim metus</a>. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat
			est suscipit sagittis.</p>
	</footer>
</div>

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="/" title="Back to Homepage">Home</a></li>
		<li>Forums</li>
		<li>@ViewBag.Title</li>
	</ul>
}
