@using AdminComposite.Models
@using Euclid.Composites.Mvc.Extensions
@model CreateForumInputModel
		   
<script type="text/javascript">
	$(document).ready(function () {
		$("#forum-name").focus();

		$("sumbit-create-command").click(function () {
			alert($("#forum-description").val());
			return false;
		});
	});
</script>

<article>
	<header>
		<h2>Add Forum</h2>
	</header>

	<!--
		<section>
			<h3>
				After your forum is create you can customize
			</h3>

		
			<ul class="list-style-checkmark">
				<li><strong>Themes</strong> choose and customize the forum's look &amp; feel</li>
				<li><strong>Voting</strong> specify how users vote on posts and comments</li>
				<li><strong>Badges</strong> create &amp; manage how your users are rewarded for participation</li>
				<li><strong>Categories</strong> manage your forum's taxonomy/ontology</li>
				<li><strong>Content</strong> create and embed custom content on forum pages</li>
			</ul>
		</section>
		-->
</article>

<section id="forum-form-section">
@using (Html.BeginFormForInputModel(Model, true, Url.Action("Index", "Dashboard")))
	{
		@Html.HiddenFor(m=>m.OrganizationId)

		<fieldset>
			<legend>Settings</legend>

			<dl>
				<dt><label for="forum-name">Name</label></dt>
				<dd>@Html.TextBoxFor(m => m.Name, new { id = "forum-name" })</dd>

				<dt><label for="forum-slug">Slug</label></dt>
				<dd>
					@Html.TextBoxFor(m=>m.UrlSlug, new {id="forum-slug"})
					<p><a href="#" id="generate-slug">generate slug</a></p>
				</dd>

				<dt><label for="forum-host">Host</label></dt>
				<dd>
					@Html.TextBoxFor(m => m.UrlHostName, new { id = "forum-host", @readonly = "readonly" })
					<p>Forum url: <b><span id="forum-url">http//socialrally.com/{organization-name}/forums/{forum-name}</span></b></p>
				</dd>

				<dt><label>Description</label></dt>
				<dd>
					@Html.TextAreaFor(m => m.Description, new { id = "forum-description", @class = "wysiwyg", @readonly = "readonly" })
				</dd>
			</dl>
	 	</fieldset>

		<input type="submit" class="button" value="Create Forum" id="sumbit-create-command"/>
	}
</section>

@section Breadcrumbs{
	<ul id="breadcrumbs">
		<li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
		<li>Create Forum</li>
	</ul>
}