@using ForumAgent.ReadModels
@model Forum
@{
	ViewBag.Title = "Forums";
}

<div class="article-container">
	<header>
		<h2>@ViewBag.Title</h2>
	</header>
	<section>
		<h3>@Model.Name Details</h3>
		<form>
		<fieldset><legend>Forum Settings</legend>
			<dl>
				<dt>
					<label>Name</label></dt>
				<dd>
					<p>@Model.Name</p>
				</dd>
				<dt>
					<label>Host</label></dt>
				<dd>
					<p>@Model.UrlHostName</p>
				</dd>
				<dt>
					<label>Slug</label></dt>
				<dd>
					<p>@Model.UrlSlug</p>
				</dd>
			</dl>
		</fieldset>
		</form>
	</section>
	<footer>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et <a href="#">
			dignissim metus</a>. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat
			est suscipit sagittis.</p>
	</footer>
</div>

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="/" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.Title</li>
		<li>@Model.Name Details</li>
	</ul>
}
