@using ForumAgent.ReadModels
@model IList<Forum>

@{
	ViewBag.Title = "Manage Forums";
}

<div class="article-container">
	<header>
		<h2>@ViewBag.Title</h2>
	</header>
	<section>
		<h3>Available Forums</h3>
		<table class="datatable">
			<thead>
				<tr>
					<th class="sorting">Name</th>
					<th class="sorting">Host</th>
					<th class="sorting">Slug</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var forum in Model)
				{
					<tr>
						<td>@forum.Name</td>
						<td>@forum.UrlHostName</td>
						<td>@forum.UrlSlug</td>
						<td></td>
					</tr>
				}
			</tbody>
		</table>
	</section>
	<footer>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et <a href="#">
			dignissim metus</a>. Maecenas id augue ac metus tempus aliquam. Sed pharetra placerat
			est suscipit sagittis.</p>
	</footer>
</div>

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="/" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.Title</li>
	</ul>
}
