@{
	ViewBag.Title = "{Forum Name} - All Posts";
	Layout = "~/Views/RoughDraft/Shared/_ForumLayout.cshtml";
}
<ul class="tabs">
	<li><a href="@Url.Action("Home")">Popular Posts</a></li>
	<li><a href="@Url.Action("ControversialPosts")">Controversial Posts</a></li>
	<li class="active"><a href="@Url.Action("AllPosts")">All Posts</a></li>
</ul>
<!-- all posts -->

<div class="row">

	<div class="span4">

		<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
			float: right; clear: left;">
			<img src="../../Themes/default/images/arrow-090.png" /><br />
			<img src="../../Themes/default/images/arrow-270.png" /><br />
			<img src="../../Themes/default/images/exclamation-white.png" /><br />
		</div>

		<h2><a href="@Url.Action("Post")">{Post Title}</a></h2>
		<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
			dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
				12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Example Category</a></p>

		<div class="row">

			<div class="span2">
				<a class="btn small" href="#">Add comment &raquo;</a></div>

			<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
				<img src="../../Themes/default/images/balloon-white.png" />
				<a href="#">999 comments</a></div>

		</div>

	</div>

	<div class="span4">

		<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
			float: right; clear: left;">
			<img src="../../Themes/default/images/arrow-090.png" /><br />
			<img src="../../Themes/default/images/arrow-270.png" /><br />
			<img src="../../Themes/default/images/exclamation-white.png" /><br />
		</div>

		<h2><a href="@Url.Action("Post")">{Post Title}</a></h2>
		<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
			dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
				12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Creative Category</a></p>

		<div class="row">

			<div class="span2">
				<a class="btn small" href="#">Add comment &raquo;</a></div>

			<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
				<img src="../../Themes/default/images/balloon-white.png" />
				<a href="#">999 comments</a></div>

		</div>

	</div>

	<div class="span4">

		<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
			float: right; clear: left;">
			<img src="../../Themes/default/images/arrow-090.png" /><br />
			<img src="../../Themes/default/images/arrow-270.png" /><br />
			<img src="../../Themes/default/images/exclamation-white.png" /><br />
		</div>

		<h2><a href="@Url.Action("Post")">{Post Title}</a></h2>
		<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
			dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
				12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Unmoderated Forum</a></p>

		<div class="row">

			<div class="span2">
				<a class="btn small" href="#">Add comment &raquo;</a></div>

			<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
				<img src="../../Themes/default/images/balloon-white.png" />
				<a href="#">999 comments</a></div>

		</div>

	</div>

	<div class="span4">

		<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
			float: right; clear: left;">
			<img src="../../Themes/default/images/arrow-090.png" /><br />
			<img src="../../Themes/default/images/arrow-270.png" /><br />
			<img src="../../Themes/default/images/exclamation-white.png" /><br />
		</div>

		<h2><a href="@Url.Action("Post")">{Post Title}</a></h2>
		<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
			dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
				12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Category</a></p>

		<div class="row">

			<div class="span2">
				<a class="btn small" href="#">Add comment &raquo;</a></div>

			<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
				<img src="../../Themes/default/images/balloon-white.png" />
				<a href="#">999 comments</a></div>

		</div>

	</div>

</div>

<hr>

<div class="row">

	<div class="span4">

		<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
			float: right; clear: left;">
			<img src="../../Themes/default/images/arrow-090.png" /><br />
			<img src="../../Themes/default/images/arrow-270.png" /><br />
			<img src="../../Themes/default/images/exclamation-white.png" /><br />
		</div>

		<h2><a href="@Url.Action("Post")">{Post Title}</a></h2>
		<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
			dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
				12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Example Category</a></p>

		<div class="row">

			<div class="span2">
				<a class="btn small" href="#">Add comment &raquo;</a></div>

			<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
				<img src="../../Themes/default/images/balloon-white.png" />
				<a href="#">999 comments</a></div>

		</div>

	</div>

	<div class="span4">

		<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
			float: right; clear: left;">
			<img src="../../Themes/default/images/arrow-090.png" /><br />
			<img src="../../Themes/default/images/arrow-270.png" /><br />
			<img src="../../Themes/default/images/exclamation-white.png" /><br />
		</div>

		<h2><a href="@Url.Action("Post")">{Post Title}</a></h2>
		<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
			dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
				12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Creative Category</a></p>

		<div class="row">

			<div class="span2">
				<a class="btn small" href="#">Add comment &raquo;</a></div>

			<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
				<img src="../../Themes/default/images/balloon-white.png" />
				<a href="#">999 comments</a></div>

		</div>

	</div>

	<div class="span4">

		<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
			float: right; clear: left;">
			<img src="../../Themes/default/images/arrow-090.png" /><br />
			<img src="../../Themes/default/images/arrow-270.png" /><br />
			<img src="../../Themes/default/images/exclamation-white.png" /><br />
		</div>

		<h2><a href="@Url.Action("Post")">{Post Title}</a></h2>
		<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
			dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
				12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Unmoderated Forum</a></p>

		<div class="row">

			<div class="span2">
				<a class="btn small" href="#">Add comment &raquo;</a></div>

			<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
				<img src="../../Themes/default/images/balloon-white.png" />
				<a href="#">999 comments</a></div>

		</div>

	</div>

	<div class="span4">

		<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
			float: right; clear: left;">
			<img src="../../Themes/default/images/arrow-090.png" /><br />
			<img src="../../Themes/default/images/arrow-270.png" /><br />
			<img src="../../Themes/default/images/exclamation-white.png" /><br />
		</div>

		<h2><a href="@Url.Action("Post")">{Post Title}</a></h2>
		<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
			dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
				12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Category</a></p>

		<div class="row">

			<div class="span2">
				<a class="btn small" href="#">Add comment &raquo;</a></div>

			<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
				<img src="../../Themes/default/images/balloon-white.png" />
				<a href="#">999 comments</a></div>

		</div>

	</div>

</div>

<hr>

<div class="row">

	<div class="span4">

		<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
			float: right; clear: left;">
			<img src="../../Themes/default/images/arrow-090.png" /><br />
			<img src="../../Themes/default/images/arrow-270.png" /><br />
			<img src="../../Themes/default/images/exclamation-white.png" /><br />
		</div>

		<h3><a href="@Url.Action("Post")">{Post Title}</a></h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
			dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
				12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Example Category</a></p>

		<div class="row">

			<div class="span2">
				<a class="btn small" href="#">Add comment &raquo;</a></div>

			<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
				<img src="../../Themes/default/images/balloon-white.png" />
				<a href="#">999 comments</a></div>

		</div>

	</div>

	<div class="span4">

		<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
			float: right; clear: left;">
			<img src="../../Themes/default/images/arrow-090.png" /><br />
			<img src="../../Themes/default/images/arrow-270.png" /><br />
			<img src="../../Themes/default/images/exclamation-white.png" /><br />
		</div>

		<h3><a href="@Url.Action("Post")">{Post Title}</a></h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
			dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
				12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Creative Category</a></p>

		<div class="row">

			<div class="span2">
				<a class="btn small" href="#">Add comment &raquo;</a></div>

			<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
				<img src="../../Themes/default/images/balloon-white.png" />
				<a href="#">999 comments</a></div>

		</div>

	</div>

	<div class="span4">

		<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
			float: right; clear: left;">
			<img src="../../Themes/default/images/arrow-090.png" /><br />
			<img src="../../Themes/default/images/arrow-270.png" /><br />
			<img src="../../Themes/default/images/exclamation-white.png" /><br />
		</div>

		<h3><a href="@Url.Action("Post")">{Post Title}</a></h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
			dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
				12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Unmoderated Forum</a></p>

		<div class="row">

			<div class="span2">
				<a class="btn small" href="#">Add comment &raquo;</a></div>

			<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
				<img src="../../Themes/default/images/balloon-white.png" />
				<a href="#">999 comments</a></div>

		</div>

	</div>

	<div class="span4">

		<div style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px;
			float: right; clear: left;">
			<img src="../../Themes/default/images/arrow-090.png" /><br />
			<img src="../../Themes/default/images/arrow-270.png" /><br />
			<img src="../../Themes/default/images/exclamation-white.png" /><br />
		</div>

		<h3><a href="@Url.Action("Post")">{Post Title}</a></h3>
		<p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis
			dapibus posuere. &mdash; <span style="text-align: right; font-size: smaller;"><em>
				12:59 PM 12/31/2011</em> in <a href="Category.cshtml" class="label">Category</a></p>

		<div class="row">

			<div class="span2">
				<a class="btn small" href="#">Add comment &raquo;</a></div>

			<div class="span2" style="padding-top: 7px; text-align: right; font-size: smaller;">
				<img src="../../Themes/default/images/balloon-white.png" />
				<a href="#">999 comments</a></div>

		</div>

	</div>

</div>

<hr>
<ul class="pills">
	<li class="active"><a href="@Url.Action("AllPosts")">Newest</a></li>
	<li><a href="@Url.Action("AllPosts")">Oldest</a></li>
</ul>

<div class="pagination">
	<ul>
		<li class="prev disabled"><a href="#">&larr; Previous</a></li>
		<li><a href="#">1</a></li>
		<li class="active"><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li class="disabled"><a href="#">...</a></li>
		<li><a href="#">45</a></li>
		<li><a href="#">46</a></li>
		<li><a href="#">47</a></li>
		<li class="next"><a href="#">Next &rarr;</a></li>
	</ul>
</div>