
d:\Projects\Euclid\platform>@git.exe %*
﻿@using Euclid.Composite.MvcApplication.Models
@model AgentListModel

<h1>@ViewBag.Title</h1>

<ul>
	@foreach (var agent in Model.Agents)
	{
		<li>
            @agent.DescriptiveName - @agent.SystemName 
            (<a href="@Url.Action("ViewAgent", "Agents", new {AgentSystemName = agent.SystemName})">html</a> |
            <a href="@Url.Action("ViewAgent", "Agents", new {AgentSystemName = agent.SystemName, Format="xml"})">xml</a> |
            <a href="@Url.Action("ViewAgent", "Agents", new { AgentSystemName = agent.SystemName, Format = "json" })">json</a>)
        </li>
    }
</ul>

@{ Html.RenderPartial("MetadataLinks", Model); }
d:\Projects\Euclid\platform>@set ErrorLevel=%ErrorLevel%

d:\Projects\Euclid\platform>@rem Restore the original console codepage.

d:\Projects\Euclid\platform>@chcp %cp_oem% > nul < nul
