@model dynamic
<div>
	Id: @Model.Identifier
	<br />
	Created: @Model.Created
	<br />
	Dispatched: @Model.Dispatched
	<br />
	Error: @Model.Error
	<br />
	Message: @Model.ErrorMessage
	<br />
	Type: @Model.MessageType
	<br />
	Location: @Model.MessageLocation
</div>