@using AdminComposite.Extensions
@using ForumAgent.ReadModels
@model IList<ForumUser>
@{
	ViewBag.Title = "Manage Forum Users";
	var forumId = ViewContext.RouteData.Values["forumId"];
}

<script type="text/javascript" src="@Url.Content("~/Content/jquery.timers-1.2.js")"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$("#invite-users").click(function () {
			$("<div></div>")
				.load("@Url.Action("Invite", "UserProfile", new {forumId = forumId})")
				.modal({
					autoResize: true,
					autoPosition: true,
					position: new Array(25, 300),
					dataCss: { backgroundColor: "#fff", overflow: "auto", height: 385, width: 635 },
					containerCss: { height: 400, width: 650 }
				});

			return false;
		});

		$(".user-details").click(function() {
			var userId = $(this).attr("data-user-id");
			$("<div></div>")
				.load("@Url.Action("Details", "UserProfile")?userId=" + userId)
				.modal({
						autoResize: true,
						autoPosition: true,
						position: new Array(25, 300),
						dataCss: { backgroundColor: "#fff", overflow: "auto", height: 385, width: 635 },
						containerCss: { height: 400, width: 650 }
					});
		});
	});

	function blockUser(userId) {
		performBlockOperation(userId, function(isBlocked) {
			if (isBlocked) {
				$(".block-user[data-item-id='" + userId + "']").parent().addClass("hidden");
				$(".unblock-user[data-item-id='" + userId + "']").parent().removeClass("hidden");

				return true;
			}

			return false;
		});
	}

	function unblockUser(userId) {
		performBlockOperation(userId, function(isBlocked) {
			if (!isBlocked) {
				$(".block-user[data-item-id='" + userId + "']").parent().removeClass("hidden");
				$(".unblock-user[data-item-id='" + userId + "']").parent().addClass("hidden");

				return true;
			}

			return false;
		});		
	}
	
	function performBlockOperation(userId, pollingCallback) {
		$.ajax({
				url: "@Url.Action("PerformBlockOperation", "UserProfile")",
				type: "POST",
				data: {userIdentifier: userId},
				success: function(data)
					{
						$(document).everyTime(750, "poll", function() {
							$.get(
								"@Url.Action("BlockStatus")",
								{ userIdentifier: userId },
								function(user) {
									if (pollingCallback(user.isBlocked)) {
										$(document).stopTime("poll");
									}
								});
						}, 10);
					}
			});
	}
</script>

<div class="article-container">
	<article>
		<header>
			<h2>@ViewBag.Title</h2>
		</header>

		<section>
			<p style="float:left">View, invite and block users to this forum</p>
			<a href="#" style="float:right" class="button-link blue" id="invite-users">Invite Users</a>
		</section>
		
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Username</th>
					<th># Posts</th>
					<th># Votes</th>
					<th>Last Login</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="6">
						<ul class="button-switch">
							<li></li>
						</ul>
					</td>
				</tr>
			</tfoot>
			<tbody>
				@foreach (var user in Model)
				{
					<tr>
						<td>@user.FirstName @user.LastName</td>
						<td>@user.Username</td>
						<td>@user.NumberPosts</td>
						<td>
							<ul class="actions">
								<li>@user.NumberVotes</li>
								<li><a href="#" class="reset-votes" rel="tooltip" original-title="Reset Vote Count">Reset Vote Count</a></li>
							</ul>
						</td>
						<td>@user.LastLogin.GetFriendlyRelativeTime()</td>
						<td>
							<ul class="actions">
								<li @if (user.IsBlocked) {<text>class="hidden"</text>}><a href="#" class="block-user confirmation-dialog" rel="tooltip" original-title="Block @user.FirstName @user.LastName" data-item-id="@user.Identifier" data-confirmation-message="Really block @user.FirstName @user.LastName?" data-confirm-function="blockUser">Block User</a></li>
								<li @if (!user.IsBlocked) {<text>class="hidden"</text>}><a href="#" class="unblock-user confirmation-dialog" rel="tooltip" original-title="Unblock @user.FirstName @user.LastName" data-item-id="@user.Identifier" data-confirmation-message="Really unblock @user.FirstName @user.LastName?" data-confirm-function="unblockUser">Unblock User</a></li>
								<li><a href="#" class="user-details view" rel="tooltip" original-title="View @user.FirstName @user.LastName's Profile" data-user-id="@user.Identifier">View Profile</a></li>
							</ul>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</article>
</div>

@section Breadcrumbs {
	<ul id="breadcrumbs">
		<li><a href="/" title="Back to Homepage">Home</a></li>
		<li>@ViewBag.ForumName</li>
		<li>@ViewBag.Title</li>
	</ul>
}
