@using AdminComposite.Models
@model SetForumThemeInputModel
<script type="text/javascript">
	$(document).ready(function () {
		$("#theme-selector").change(function () {
			var src = $("#theme-selector option:selected").attr("data-preview-image");
			
			$("#unselected-preview").hide();
			$("#theme-preview").show();
			$("#theme-preview").attr("src", src);
		});
		
		$("#edit-theme").click(function () {
			$(this).attr("disabled", "disabled", "disabled");
			$("#save-theme").removeAttr("disabled");
			$("#theme-selector").removeAttr("disabled");
			$("#cancel-edit").removeAttr("disabled");
		});

		$("#save-theme").click(function () {
			var selectedTheme = $("#theme-selector").val();
			var selectedThemeText = $("#theme-selector option:selected").text() + " -- current theme";
			
			$.get("@Url.Action("SetForumTheme")", { forumId: "@Model.ForumIdentifier", theme: selectedTheme });
			$("#theme-selector option").each(function(index, item) {
				$(item).text($(item).attr("data-original-text"));
			});
			
			$("#theme-selector option:selected").text(selectedThemeText);
			
			$("#save-theme").attr("disabled", "disabled");
			$("#theme-selector").attr("disabled", "disabled");
			$("#cancel-edit").attr("disabled", "disabled");
			$("#edit-theme").removeAttr("disabled");
		});

		$("#cancel-edit").click(function() {
			window.location.reload();
		});
	});
</script>
<article>
	<header>
		<h2>Manage Forum Themes</h2>
	</header>
	<p></p>
	<form>
	<fieldset>
		<legend>Select a theme for your forum.</legend>
		<dl>
			<dt><label for="theme-selector">Theme</label></dt>
			<dd>
				<select disabled="disabled" id="theme-selector">
					@foreach (var theme in Model.AvailableThemes)
					{
						<option value="@theme.Item1.ToLower()" data-original-text="@theme.Item1" data-preview-image="@theme.Item2" @if (Model.CurrentTheme.Item1.ToLower() == theme.Item1.ToLower())
																																		 {<text>selected="selected"</text>}>@theme.Item1 @if (Model.CurrentTheme.Item1.ToLower() == theme.Item1.ToLower())
																																		 {<text> -- current theme</text>}</option>
					}
				</select>
			</dd>

			<dt><label>Preview</label></dt>
			<dd class="text">
				<img id="theme-preview" alt="theme-preview" src="@Model.CurrentTheme.Item2"/>
			</dd>
		</dl>
	</fieldset>

	<button type="button" id="edit-theme">Edit</button>
	<button type="button" disabled="disabled" class="green" id="save-theme">Save</button>
	<button type="button" disabled="disabled" id="cancel-edit">Cancel</button>
	</form>
</article>
@section Breadcrumbs{
	<ul id="breadcrumbs">
		<li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
		<li>@ViewBag.ForumName</li>
		<li>Themes</li>
	</ul>
}
