@using AdminComposite.Models
@model SetForumThemeInputModel
<script type="text/javascript">
	$(document).ready(function () {
		$("#theme-selector").change(function () {
			var src = $("#theme-selector option:selected").attr("data-preview-image");
			
			$("#unselected-preview").hide();
			$("#theme-preview").show();
			$("#theme-preview").attr("src", src);
		});
		
		$("#edit-theme").click(function () {
			$(this).attr("disabled", "disabled");
			$("#save-theme").removeAttr("disabled");
		});

		$("#save-theme").click(function () {
				var selectedTheme = $("#theme-selector").val();

				$.get("@Url.Action("SetForumTheme")", { forumId: "@Model.ForumIdentifier", theme: selectedTheme });

				window.location.reload();
		});
	});

</script>
<article>
	<header>
		<h2>Manage Forum Themes</h2>
	</header>
	<p></p>
	<form>
	<fieldset>
		<legend>Select a theme for your forum.</legend>
		<dl>
			<dt><label for="theme-selector">Theme</label></dt>
			<dd>
				<select id="theme-selector">
					@foreach (var theme in Model.AvailableThemes)
		 {
						<option value="@theme.Item1.ToLower()" data-preview-image="@theme.Item2" @if (Model.CurrentTheme.Item1 == theme.Item1)
																																		 {<text>selected="selected"</text>}>@theme.Item1 @if (Model.CurrentTheme.Item1 == theme.Item1)
																																		 {<text> -- current theme</text>}</option>
		 }
				</select>
			</dd>

			<dt><label>Preview</label></dt>
			<dd class="text">
				<img id="theme-preview" alt="theme-preview" src="@Model.CurrentTheme.Item2"/>
			</dd>
		</dl>
	</fieldset>
	<button type="button" id="edit-theme">Edit</button>&nbsp;
	<button type="button" disabled="disabled" id="save-theme">Save</button>
	</form>
</article>
@section Breadcrumbs{
	<ul id="breadcrumbs">
		<li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
		<li>Themes</li>
	</ul>
}
