<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@RenderPage("Styles.cshtml")
	@RenderPage("Scripts.cshtml")
</head>
<body>

	<div class="container-fluid">

		<div class="row show-grid">

			<div class="span16 columns">

				<div class="topbar">

					<div class="fill">

						<div class="container">
							<h3><a href="@Url.Action("Index", "Composite")">@ViewBag.CompositeName Inspector</a></h3>
							<ul>
								<li><a href="@Url.Action("Index", "Composite")">Composite details</a></li>
								<li><a  href="@Url.Action("Index", "CommandRegistry")">Command registry</a></li>
							</ul>
						</div>

					</div>

				</div>

			</div>



		</div>

		<div class="span16 columns">
			@RenderBody()
		</div>

		<div class="row show-grid">

            <div class="span5 columns">
                <a href="@Url.Action("Remove", "Frame")" class="btn primary" id="remove-frame" target="_parent">Remove Frame</a>
                <a href="@Url.Action("Index", "Frame")" class="btn primary" id="show-frame" target="_parent">Show Frame</a>
            </div>

			<div class="span5 columns">
				<input type="text" placeholder="Get publication by id" id="publication-record-id" class="guid-input" />
			</div>


		</div>

	</div>

	<hr />
</body>
</html>
