<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@RenderPage("Styles.cshtml")
	@RenderPage("Scripts.cshtml")
</head>
<body>

	<div class="container-fluid">

		<div class="row show-grid">

			<div class="span16 columns">

				<div class="topbar">

					<div class="fill">

						<div class="container">
							<h3><a href="@Url.Action("Index", "Composite")">@ViewBag.CompositeName Inspector</a></h3>
							<ul>
								<li><a href="@Url.Action("Index", "Composite")">Composite details</a></li>
								<li><a  href="@Url.Action("Index", "CommandRegistry")">Command registry</a></li>
							</ul>
						</div>

					</div>

				</div>

			</div>



		</div>

		<div class="span16 columns">
			@RenderBody()
		</div>

		<div class="row show-grid">

			<div class="span4 columns">
				<a href="@Url.Action("Index", "Composite")" class="metadata-link">Composite details</a>
			</div>

			<div class="span4 columns">
				<a class="metadata-link" href="@Url.Action("Index", "CommandRegistry")">Command registry</a>
			</div>

			<div class="span8 columns">
				View publication record:
				<input type="text" id="publication-record-id" class="guid-input" />
			</div>

		</div>

	</div>

	<hr />
</body>
</html>
