<div class="row">
	<div class="span4 columns offset6">
		<div class="pagination">
			@{
				var prev = "prev";
				if (!ViewBag.HasPreviousPage)
				{
					prev = "prev disabled";
				}

				var next = "next";
				if (!ViewBag.HasNextPage)
				{
					next = "next disabled";
				}
			}
			<ul>
				<li class="@prev">
					<a href="@ViewBag.PreviousPageUrl">← Prev</a>
				</li>
				<li class="active"><a href="#">@(ViewBag.CurrentPage) of @(ViewBag.TotalPages)</a></li>
				<li class="@next">
					<a href="@ViewBag.NextPageUrl">Next →</a>
				</li>
			</ul>
		</div>
	</div>
</div>