<ul class="tabs">
	<li class="active"><a href="@Url.Action("User")">Overview</a></li>
	<li><a href="@Url.Action("UserRecentActivity")">Recent Activity</a></li>
	<li><a href="@Url.Action("UserFavorites")">Favorites</a></li>
	<li><a href="@Url.Action("UserBadges")">Badges</a></li>
	<li><a href="@Url.Action("UserFriends")">Friends</a></li>
</ul>
